@model StudentManagementSystem.Models.User;
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Tittle"]</h2>
<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="RoleID" class="control-label"></label>
                <input asp-for="RoleID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="User_name" class="control-label"></label>
                <input asp-for="User_name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="User_email" class="control-label"></label>
                <input asp-for="User_email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="User_dob" class="control-label"></label>
                <input asp-for="User_dob" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="User_adress" class="control-label"></label>
                <input asp-for="User_adress" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />

            </div>
        </form>
    </div>
</div>
