@model StudentManagementSystem.Models.ViewModels.UserFormViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Tittle"]</h2>
<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="User.User_id" />
            <!-- <div class="form-group">
                <label asp-for="User.RoleID" class="control-label"></label>
                <input asp-for="User.RoleID" class="form-control" />
            </div>-->
            <div class="form-group">
                <label asp-for="User.User_name" class="control-label"></label>
                <input asp-for="User.User_name" class="form-control" />
                span asp-validation-for="User.User_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.User_email" class="control-label"></label>
                <input asp-for="User.User_email" class="form-control" />
                span asp-validation-for="User.User_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.User_dob" class="control-label"></label>
                <input asp-for="User.User_dob" class="form-control" />
                span asp-validation-for="User.User_dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.User_adress" class="control-label"></label>
                <input asp-for="User.User_adress" class="form-control" />
                span asp-validation-for="User.User_adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RoleID" class="control-label"></label>
                <select asp-for="User.RoleID" asp-items="@(new SelectList(Model.Roles,"RoleID","Role_Tittle"))" class="form-control"></select>
            </div>




            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />

            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
